
<style type="text/css">
.nav-item{
padding-left: 5px;
padding-right: 5px;

border: 1px solid black !important;
border-radius: 4px !important;
}

 body{
 background-color:pink;
 }

a{
color:black !important}

.width{
width: 40%;}
.margin-top{
margin-top: 20px;}

.navbar-nav li{
margin-left:10px;
}
.center{
margin-left:auto;
margin-right:auto;}

.right{
margin-left: auto;}
.ten{
width:10%;}
</style>
